.transcript-line {
    position: relative;
}

.transcript-timestamp {
    width: 3em;
    text-align: right;
    padding-right: 6px;
    position: absolute;
    left: 0;
}

.transcript-text {
    margin-left: 3em;
    display: inline-block;
}

.transcript-line.is-active {
    background: rgba(0, 55, 104, 0.41);
}

.transcript-text mark {
    background: #afe6af;
    padding: 3px 3px;
    margin: 0 -3px;
}

.transcript-text mark.current {
    background: #2a66a9;
    color: white;
}

/**
 * Mobile first
 * Video with transcript underneath in portrait mode
 */

.mod_brightcove__layout {
    position: relative;
}

.mod_brightcove__video {
    position: relative;
}


.mod_brightcover__transcript {
    /* Just enough in portrait for the video and the transcript */
    max-height: 350px;
    overflow-y: scroll;
}

/**
 * Mobile in landscape mode
 * Focus just on video?
 */


/**
 * Large desktop
 * Pull the transcript over to the right
 */


@media only screen and (min-width: 980px) {

    .mod_brightcove__video {
        margin-right: 24em;
    }

    .mod_brightcove__transcript_control {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 23em;
    }

    .mod_brightcover__transcript {
        max-height: none;
    }

    .mod_brightcover__transcript {
        max-height: none;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 70px; /* height of transcript search form */
    }

}

