{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_feedback/player

    Displays Brightcove video player

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "accountid" : "123456789",
        "playerid" : "abcd13245",
        "videoid" : "123456",
        "aspectratio" : "56.25",
        "transcripturl" : "http://brightcove.vo.llnwd.net/v1/unsecured/media/"
    }

}}
<div style="position: relative;">
    <div style="padding-top: {{aspectratio}}%;">
        <video id="{{playerid}}"
               data-video-id="{{videoid}}"
               data-account="{{accountid}}"
               data-player="{{playerid}}"
               data-setup='{ "playbackRates": [0.5, 1, 1.5, 2.0] }'
               data-embed="default"
               data-captions="{{transcripturl}}"
               data-application-id
               class="video-js"
               controls
               style="width: 100%; height: 100%; position: absolute; top: 0px; bottom: 0px; right: 0px; left: 0px;">
        </video>
    </div>
</div>
<div class="header form-inline">
  <label class="mr-sm-2" for="bc-search">Search:</label>
  <input id="bc-search" type="search" placeholder="Search transcript" class="form-control mb-2 mr-sm-2 mb-sm-0">
  <button class="btn btn-secondary" data-search="next">&darr;</button>
  <button class="btn btn-secondary" data-search="prev">&uarr;</button>
  <button class="btn btn-secondary" data-search="clear">✖</button>
</div>
<div id="transcript"></div>
<p id="insertionPoint"></p>

</p>
