{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_feedback/player

    Displays Brightcove video player

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "accountid" : "123456789",
        "playerid" : "abcd13245",
        "videoid" : "123456",
        "aspectratio" : "56.25",
        "transcripturl" : "http://brightcove.vo.llnwd.net/v1/unsecured/media/"
    }

}}
<div class="mod_brightcove__layout">
    <div class="mod_brightcove__video">
        <div style="padding-top: {{aspectratio}}%;">
            <video id="{{playerid}}"
                data-video-id="{{videoid}}"
                data-account="{{accountid}}"
                data-player="{{playerid}}"
                data-setup='{ "playbackRates": [0.5, 1, 1.5, 2.0] }'
                data-embed="default"
                data-captions="{{transcripturl}}"
                data-application-id
                class="video-js"
                controls
                style="width: 100%; height: 100%; position: absolute; top: 0px; bottom: 0px; right: 0px; left: 0px;">
            </video>
        </div>
    </div>

    <div class="mod_brightcove__transcript_control">
        <div class="header form-inline row">
            {{#transcripturl }}
                <div class="col-sm-9">
                    <div class="input-group">
                        <input id="bc-search" type="search" placeholder="Search transcript" class="form-control mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-btn">
                            <button class="btn btn-secondary" data-search="next" title="Next"><i class="fa fa-long-arrow-down" aria-hidden="true"></i></button>
                            <button class="btn btn-secondary" data-search="prev" title="Previous"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></button>
                            <button class="btn btn-secondary" data-search="clear" title="Clear Search"><i class="fa fa-remove" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            {{/transcripturl }}
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-btn download">
                        <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-search="download" title="Download"><i class="fa fa-download" aria-hidden="true"></i></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-header">Download as:</div>
                            <span id="insertionPoint"></span>
                            {{#transcripturl }}
                                <span id="downloadTranscript">
                                    <a class="dropdown-item" href="{{ transcriptdownload }}" title="Download transcript"><i class='fa fa-file-text-o' aria-hidden='true'></i> Transcript</a>
                                </span>
                            {{/transcripturl }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{#transcripturl }}
            <div class="mod_brightcover__transcript" id="transcript"></div>
        {{/transcripturl }}
    </div>

</div>

</p>
