{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_feedback/player

    Displays Brightcove video player

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    }

}}
<div class="bc-selectlist-container">
    <div class="bc-sl-header row">
        <div class="bc-sl-h-1 col-sm-2"></div>
        <div class="bc-sl-h-2 col-sm-4">Name</div>
        <div class="bc-sl-h-3 col-sm-2">Status</div>
        <div class="bc-sl-h-4 col-sm-4">Created</div>
    </div>
    <div class="bc-sl-data">
        <!-- START LOOP -->
        {{#videos}}
        <div class="bc-sl-d-container row">
            <div class="bc-sl-d-1 col-sm-2">
                <span class="bc-sl-d-1-thumbnail">
                    <img src="{{thumbnail_url}}" class="img-responsive" />
                    <span class="bc-sl-d-1-timestamp">{{duration}}</span>
                </span>
            </div>
            <div class="bc-sl-d-2 col-sm-4">
                <span class="bc-sl-d-2-title">{{name}}</span>
                <span class="bc-sl-d-2-id">{{id}}</span>
            </div>
            <!-- TO CHANGE ICON, REPLACE fa- WITH ICON NAME eg "check, warning" -->
            <div class="bc-sl-d-3 col-sm-2"><span><i class="icon fa fa-check"></i></span></div>
            <div class="bc-sl-d-4 col-sm-4"><span>{{created_at}}</span></div>
        </div>
        {{/videos}}
        <!-- END LOOP -->

        <div class="bc-sl-d-container row selected"> <!-- CLASS 'selected' ADDED BY CLICK EVENT -->
            <div class="bc-sl-d-1 col-sm-2">
                <span class="bc-sl-d-1-thumbnail">
                    <img src="http://www.pinga.nl/dl/html5/r/silly-ways-to-die-party-576742227280302373/silly-ways-to-die-party-576742227280302373-200x120.jpg" class="img-responsive" />
                    <span class="bc-sl-d-1-timestamp">03:25</span>
                </span>
            </div>
            <div class="bc-sl-d-2 col-sm-4">
                <span class="bc-sl-d-2-title">Another video test file</span>
                <span class="bc-sl-d-2-id">5526240613001</span>
            </div>
            <div class="bc-sl-d-3 col-sm-2"><span><i class="icon fa fa-warning"></i></span></div>
            <div class="bc-sl-d-4 col-sm-4"><span>08/09/2017 10:45 AM</span></div>
        </div>
    </div>
</div>


